.container{
    display: block;
}
h2{
    padding: 30px;
    text-align: center;
    font-size: 50px;  
}
table{
    list-style: none;
}
table tr{
    display: flex;
    flex-direction: row;
}
table tr th {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
table tr td{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 200px;
}
table tr td img{
    height: 100px;
    width: 100px;
}
a{
    width: 100px;
    height: fit-content;
    padding: 5px;
    margin-left: 30px;
}