<div class="modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Close()"></button>
      </div>
      <div class="modal-body">
        <p>Tên sản phẩm: {{ food.name }}</p>
        <p>Giá: {{ food.price }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="Close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteFood()">Xóa</button>
      </div>
    </div>
  </div>
</div>

